.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  background-color: #203e4a;
  color: whitesmoke;
  font-size: 2rem;
}

@media screen and (min-width: 500px) {
  .title {
    font-size: 4rem;
  }
}
