/*
.home-view {
  padding-top: 80px;
}

.home-view {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-items {
  margin-top: 30px;
}
*/

.buttonStyled {
  box-shadow: inset 0.1px 0.1px 3px black;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: pink;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
