.header_view {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://images.unsplash.com/photo-1543622748-5ee7237e8565?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80);
  background-size: cover;
}
nav {
  width: 100%;
  align-items: center;
  display: flex;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 10rem;
}

li {
  display: flex;
  align-content: center;
  margin: 1rem;
  margin-top: 0;
}
.buttonStyled {
  box-shadow: 0px 1px 10px rgb(91, 105, 117);
  width: 160px;
  height: 35px;
  border: none;
  border-radius: 20px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
  transition: transform 0.5s;
}

.buttonStyled:hover {
  background-color: rgb(91, 105, 117);
  color: white;

  transform: scale(1.1);
  box-shadow: 0px 1px 5px whitesmoke;
}

.home-button {
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  width: 14rem;
  text-decoration: none;
  background-color: rgb(184, 185, 187);
  box-shadow: 0px 1px 3px rgb(70, 70, 70);
  border-radius: 1rem;
  color: whitesmoke;
  transition: transform 0.5s;
}
.home-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 1px 5px whitesmoke;
  color: white;
}

@media screen and (max-width: 900px) {
  ul {
    display: flex;
    flex-direction: column;
  }
  li {
    margin: 0;
  }
  .header_view {
    display: flex;
    height: 20rem;
  }
  .home_button_style {
    margin-bottom: 5px;
  }
  .buttonStyled {
    width: 170px;
    height: 27px;
    margin-bottom: 5px;
  }
}
