.visually-hidden {
  display: flex;
  justify-content: center;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 2rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1rem;
}

.search_bar {
  height: 2rem;
  display: flex;
  justify-content: center;
  background-color: rgb(32, 62, 74);
}
